#headline {
    border: 12px solid red;
    background-color: white;
    color: red;
    text-align: center;
    padding: 28px 90px;
    font-size: 40px;
}

body {
    background-color:rgb(88, 129, 68);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    padding: 0;
    margin: 0;
}

li {
    padding: 6px 28px;
    cursor: pointer;
}

.home-container {
    font-size: 26px;
    text-align: center;
    background-color: red;
    color: red;
    margin: 32px;
}

.info-subcontainer {
    border: 16px solid red;
    background-color: white;
    color: red;
    flex: 1;
}

.open-tab {
    border: 2px solid red;
    background-color: red;
}

#content {
    padding-top: 0;
}

#home-display-container {
    margin-top:0;
}

#home-display-container p {
    color: black;
    padding: 6px;
}

#home-info-container {
    display: flex;
    justify-content:space-evenly;
}

#home-reviews-container {
    border: 16px solid red;
    background-color: white;
}

h3.menu-title {
    text-align: center;
    font-size: 36px;
}

ul.menu-list {
    flex-direction: column;
    text-align: left;
}

li.menu-item {
    margin: 24px 0px;
    padding: 0;
}

.menu-container {
    background-color: white;
    color: red;
    border: 16px solid red;
    width: 60vw;
}

.menu-img {
    display: flex;
    justify-content: center;
}

#chinese-food-img {
    width: 75%;
}

#contact-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 16px solid red;
    background-color: white;
    color: red;
}

h2#contact-form-title {
    text-align: center;
    font-size: 36px;
}

#contact-form {
    width: 60vw;
}

.input-container {
    width: 100%;
    margin: 12px;
}

.contact-input {
    border: 2px solid red;
    width: 95%;
    height: 28px;
    font-size: 24px;
    resize: none;
}

h5 {
    font-size: 28px;
    margin: 4px;
}

#message-input {
    height: 320px;
}

#btn-container {
    display: flex;
    justify-content: center;
}