@font-face {
    font-family: EggRoll;
    src: url(./EggRollTitle-ArRp.otf);
}

@font-face {
    font-family: HappyGraduation;
    src: url(./HappygraduationRegular-1G9j4.otf);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
    background-color:rgba(88, 129, 68, 0.651);
    font-family: EggRoll, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Header Section */

header {
    background-color: rgba(88, 129, 68, 0.719);
}

#title {
    padding: 28px 90px;
    border: 12px solid red;
    background-color: white;
    color: red;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px black;
}

#navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 40px;
    list-style-type: none;
}

#navbar > li {
    padding: 6px 28px;
    border-top: 4px solid red;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: goldenrod;
    text-shadow: 2px 2px black;
    cursor: pointer;
}

.open-tab {
    border: 2px solid red;
    background-color: red;
}

/* General Page settings */

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 16px solid red;
    width: 100vw;
}

.page-content {
    width: 60vw;
}

/* Home Page */

#home-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    width: 100vw;

    background-image: url(./teahub.io-chinese-food-wallpaper-2538376.jpg);
    background-size: cover;
}

.home-container {
    width: 60vw;
    padding: 36px;
    margin: 32px;

    background-color: rgba(255, 255, 255, 0.582);
    color: black;

    font-family: HappyGraduation;
    font-size: 36px;
    text-align: center;
}

.button {
    padding: 0.2em 2em;
    border: 4px solid red;
    border-radius: 1.5em;
    margin-top: 20px;
    color: red;
    font-family: EggRoll;
    font-size: 38px;
}

.info-subcontainer {
    flex: 1;
}

#home-info-container {
    display: flex;
    justify-content:space-evenly;
    border: 16px solid red;
    background-color: white;
    color: red;
}

h3 {
    color: red;
    font-family: EggRoll;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px black;
    
}

hr {
    height: 2px;
    width: 25%;
    background-color: red;
}

/* Menu Page */

#menu-content {
    display: flex;
    justify-content: center;
    width: 60vw;
}

.menu-container {
    flex: 1;
    height: 80vh;
    border: 16px solid red;
    background-color: white;
    color: red;
}

.menu-container > * {
    margin: 20px;
}

.menu-item {
    border-bottom: 4px dotted red;
    margin: 24px;
    font-size: 38px;
}

/* Contact Page */

#contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 16px solid red;
    background-color: white;
    color: red;
}

#contact-content > * {
    margin: 20px;
}
 
.contact-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 38px;
}

.input-container {
    width: 25vw;
}

#contact-page-container {
    display: flex;
}

.form-group {
    margin-bottom: 1em;
    transition: all .3s;
}

.form-label {
    display: block;
    font-size: 1em;
    opacity: 1;
    transform: translateY(-1.25em);
    transform-origin: 0 0;
    transition: all .3s;
    pointer-events: none;
}

.contact-input {
    height: 50px;
    width: 100%;
    border-color: #aaa;
    border-style: none none solid none;
    font-family: HappyGraduation;
    font-size: 0.8em;
    transition: all .5s;
}

.contact-input::placeholder {
    color: transparent;
}

.contact-input:focus {
    outline: none;
    border-color: red;
}

.form-group:focus-within {
    transform: scale(5);
}

.contact-input:focus + .form-label,
.contact-input:not(:placeholder-shown) + .form-label  {
    transform: translateY(-2em) scale(.8);
}